*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header
{
    width: 100%;
    height: 100px;
    display: block;
    background-color: blue;
}
.body
{
    width: 100%;
    height: 100vh;
    display: block;
    background-color: red;
}
.footer
{
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;    
    width: 100%;
    height: 100px;
    background-color: green;
}
.footer .btn-group button {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}